<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>電力シェアリング</title>
  <meta name="description" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="../css/style.css" rel="stylesheet" media="all">
</head>

<body>
  <header class="l-header">
    <?php require_once TEMPLATE_DIR.'header.php' ?>
  </header>
  <div class="l-contents__wrap">
    <main class="l-contents">
      <div class="l-breadcrumbs">
        <ol class="l-breadcrumbs__inner">
          <li class="l-breadcrumbs__item">
            <a href="<?php echo h(HOME_URL) ?>">電力シェアリング TOP</a>
          </li>
          <li class="l-breadcrumbs__item">
            <span>利用規約</span>
          </li>
        </ol>
      </div>
      <section class="l-contents__section">
        <div class="l-contents__inner">
          <h2 class="c-title__page">利用規約</h2>
          <div class="l-contents__item">
            <p>
              第１条　（総則）<br>
              １．本規約は、株式会社電力シェアリング（以下、「当社」といいます。）が行う「電力シェアリング会員プログラム」 <br>「（以下、「本プログラム」といいます。）の利用に関して、第２条に定める会員と当社との間における権利義務関係を定めるものです。<br>
              ２．本プログラムは、当社または実証実験や調査、研究等を希望する行政機関や事業者（以下「調査依頼者」といいます。）のために当社が実施する実証実験や調査、研究等に資する目的で、当社が、当社が運営するウェブサイト（以下、「本プログラム」といいます。）において、運営するものです。<br>
              <br>
              第２条　（会員）<br>
              １．当社の定める会員資格は、本規約を承諾の上、所定の入会手続きを全て完了し、当社から会員登録完了の通知を受けた時点で有効に発行されるものとします。<br>
              ２．前項の定めに拘わらず、当社が本規約その他諸規定等に基づき会員として承認することを不適当と判断した場合、当社は、会員登録完了の通知を行った後であっても会員資格の取り消しを行うことができるものとします。<br>
              <br>
              第３条　（IDおよびパスワードの管理）<br>
              １．会員は、会員登録後本プログラムを利用する場合には、入会手続きの際に会員本人が設定したIDおよびパスワードを使用するものとします。<br>
              ２．会員は、自己のID、パスワードの管理とその使用について一切の責任を負うものとします。<br>
              ３．会員は、自己のIDおよびパスワードを譲渡、売買、貸与その他これに類する行為を行ってはならないものとします。<br>
              ４．当社は、会員または第三者による所定のIDおよびパスワードの使用、管理等に関連して生じた一切の損害について、当該使用、管理等に関する故意過失の有無に拘わらず、一切の責任を負わないものとします。<br>
              <br>
              第４条　（会員の登録情報）<br>
              １．会員は、会員登録の際に申告する登録情報の全ての項目（以下、「会員情報」といいます。）に関して、いかなる虚偽の申告も行ってはならないものとします。<br>
              ２．会員は、登録した情報に変更が生じた場合、速やかに変更登録を行うものとします。変更登録がなされなかったことにより生じた損害について、当社は一切責任を負いません。<br>
              <br>
              第５条　（会員情報の管理）<br>
              １．当社は、本プログラムに関連して取得した会員の個人情報を当社が別途定める個人情報保護方針に従い取り扱うものとし、次の場合を除き、当該情報を第三者に提供しないものとします。<br>
              ａ．法令に基づく場合<br>
              ｂ．人の生命、身体または財産の保護のために必要がある場合であって、会員本人の同意を得ることが困難であるとき<br>
              ｃ．公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、会員本人の同意を得ることが困難であるとき<br>
              ｄ．国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、会員本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br>
              ２．会員は、会員登録時に当社の個人情報保護方針に同意するものとします。<br>
              ３．会員は、当社または調査依頼者が、自己の登録情報および回答情報等を、会員の属性別構成比率、アンケート集計結果、その他の集計結果の形態で第三者に対して開示することに同意します。<br>
              ４．会員は、自己の登録情報を常に最新の正確な情報とし、これに変更が生じた場合は速やかに当社所定の方法により変更登録を行うものとします。<br>
              <br> 
              第6条　（権利の帰属）<br>
              １．当社が会員に対して配信するプロジェクト案内等に含まれる情報その他の情報に関する著作権その他一切の権利は、当社または調査依頼者もしくはその他の第三者が保有するものであって、当社は、会員に対し、かかる権利についていかなる許諾も行うものではないものとします。<br>
              ２．会員は当社の許可なくこれらの情報を利用してはならないものとします。<br>
              <br> 
              第7条　（守秘義務）<br>
              １．会員は、本プログラムを通じて知り得た一切の情報について、口頭、書面、電子メール、インターネット上への書き込み等、いかなる手段・方法によっても第三者に開示・漏洩してはならないものとします。<br>
              ２．本条に定める守秘義務は、退会または会員資格抹消後も継続するものとします。<br>
              <br> 
              第８条　（ポイントの付与、交換 ）<br>
              １．当社は、本リサーチサービスにおいてプロジェクト参加等を行った会員に対し、当社が定めた付与ポイント数、提供方法および提供期間等に従い、ポイントを付与することがあります。<br>
              ２．会員は、当社が定める方法により、ポイントを交換できるものとします。<br>
              ３．会員は、当社が定める有効期限までポイントを新規取得または交換しない場合、保有するポイントを喪失するものとします。<br>
              ３．当社は、ポイントの付与および交換に関する障害について、一切責任を負わないものとします。当社は、付与されるはずのポイントが付与されなかった場合や付与されたポイント数が誤っていた場合で、当社においてその事実が確認できたときにのみ、その是正を行うものとし、その他の場合については一切責任を負わないものとします。<br>
              <br> 
              第９条（会員の禁止行為）<br>
              会員は、本プログラムの利用にあたり、以下のいずれかに該当する行為またはそのおそれのある行為を行ってはならないものとします。<br>
              ａ．公序良俗に反する行為<br>
              ｂ．法令、本規約その他当社が定める諸規定に違反する行為<br>
              ｃ．当社、調査依頼者、他の会員または第三者の著作権その他の知的財産権を侵害する行為<br>
              ｄ．当社、調査依頼者、他の会員または第三者を誹謗、中傷する行為<br>
              ｅ．IDまたはパスワードを不正に使用し、または使用させる行為<br>
              ｆ．当社、調査依頼者、他の会員または第三者に不利益または損害を与えることを目的とした行為<br>
              ｇ．有害なコンピュータプログラム等を送信しまたは書込む行為<br>
              ｈ．本プログラムにより利用しうる情報を改竄する行為<br>
              ｉ．本プログラムの運営を妨害する行為<br>
              ｊ．虚偽、または事実に反する情報を登録する行為<br>
              ｋ．同一人物による複数登録、もしくはなりすまし登録をする行為<br>
              ｌ．当社が承認していない本サービス内における営業活動またはその性格を有するおそれのある行為<br>
              ｍ．その他、当社が不適当と判断する行為<br>
              <br> 
              第１０条　（損害賠償）<br>
              会員が、本規約等に違反し、当社または第三者に損害を与えた場合、当該会員に対して損害賠償の請求を行うことができるものとします。<br>
              <br> 
              第１１条　（退会）<br>
              １．会員は、退会する場合、所定の退会手続きを行うものとし、当社は、当該会員の退会手続き完了後、登録情報を削除するものとします。<br>
              ２．会員は、退会を行った場合、退会の時点で保有する全てのポイントその他本プログラムに関連する一切の権利を失うものとし、当社に対して何らの請求権を有しないものとします。<br>
              <br> 
              第１２条　（通知）<br>
              １．本プログラムの利用および本規約に基づく当社から会員宛の諸通知は、会員が申告したＥメールアドレスに当社が発信する方法または当社が別途定める方法によりこれを行うものとします。<br>
              ２．会員は、申告したＥメールアドレスその他の登録情報を必要に応じて変更せずこれを怠った場合、当社からの諸通知または送付書類等が延着または不到達となっても、当社が通常到達すべきときに到達したものとみなすことに異議がないものとします。<br>
              <br> 
              第１３条　（免責事項）<br>
              １．当社は、本規約において別途定める他、次の各号に掲げるいずれかに該当する損害について、責任を負わないものとします。<br>
              ａ．戦争、火災、地震、津波、通信障害、その他、当社の責によらずして生じた損害<br>
              ｂ．製品等の利用法・注意事項の遵守をしなかったなど、本規約等に会員が違反したことにより生じた損害<br>
              ｃ．間接損害又は逸失利益<br>
              ｄ．本規約等に基づいて当社が有する権利の行使により会員に生じた損害<br>
              ２．会員は、当社から提供される情報が、必ずしも会員にとって有用な情報・望む情報ではないことをあらかじめ承諾するものとします。<br>
              ３．当社は、通信回線やコンピュータなどの障害による本リサーチサービスの中断・遅滞・中止・データの消失・データへの不正アクセスにより会員に生じた損害等に関して、一切責任を負わないものとします。<br>
              <br> 
              第１４条　（本サービスの内容の変更ならびに本サービスの一時中断、停止および中止）<br>
              １．当社は、本サービスの稼動状態を良好に保つために、次の各号に該当する場合、会員に対して事前に通知を行うことなく、本サービスの全部あるいは一部の変更または、本サービスの提供の全部あるいは一部を停止することができるものとします。<br>
              ａ．本サービスを提供するための装置、システムの保守点検や更新のために必要な場合<br>
              ｂ．火災、停電、第三者による妨害行為などにより本サービスの提供が困難になった場合<br>
              ｃ．本サービスの通信に係る事業者による通信回線の提供が中断、停止され、本サービスの提供が困難となった場合<br>
              ｄ．裁判所、その他公的機関からの要請または法令に基づき本サービスの一時中断、停止または中止を命じられた場合<br>
              ｅ．その他、やむを得ず本サービスの全部もしくは一部の一時中断、または停止が必要であると当社が判断した場合<br>
              ２．前項に基づく本サービスの内容の変更または、一時中断、停止または中止よって会員に不利益または損害が発生した場合においても、当社は一切の責任を負わないものとします。<br>
              <br> 
              第１５条　（情報配信停止、会員資格の抹消、ポイント等の剥奪）<br>
              １．会員が以下の事項に該当する場合、当社は、会員の事前の承諾を得ることなく、プロジェクト案内情報等の配信を停止し、または会員資格を抹消することができるものとします。<br>
              ａ．本規約等に定める条件に違反した場合<br>
              ｂ．プロジェクト等に対する不正もしくは虚偽の回答、他者へのなりすまし、その他の不正な行為またはその恐れのある行為があったと当社が判断した場合<br>
              ｃ．過去に、プロジェクト案内情報等の配信停止または会員資格抹消の措置を受けていたことが判明した場合<br>
              ｄ．当社の定める各種規約等に違反した場合<br>
              ｅ．本プログラムの利用がない状況が1年間継続した場合<br>
              ｆ．メールアドレスを変更したにもかかわらず、変更後のメールアドレスを届け出ないなど、メールが不達の場合<br>
              ｇ．その他、会員資格を維持・継続させることが不適当であると当社が判断した場合<br>
              ２．当社が前項により、プロジェクト案内情報等の配信を停止し、または会員資格を抹消した場合、本プログラムにおいて当該会員が保有する全ての権利が一時停止または抹消されることとします。この場合、当社は、当該会員に対してその旨を通知することを要せず、かつ、当該会員からの問い合わせに対して、その理由等を回答する義務を一切負わないものとします。<br>
              ３．当社は、会員に対して会員資格を抹消する場合、当該会員が本プログラムで有する全ての権利を抹消するものとします。<br>
              <br> 
              第１６条　（本プログラムまたは本規約等の変更等）<br>
              １．当社は、合理的な事前予告期間を設けた上で、本プログラムの内容または本規約等を任意に変更することができるものとします。<br>
              ２．当社が本サービスの内容または本規約等を変更した場合、電子メールの送付または本プログラムへの掲示のいずれかの方法により、会員に通知するものとします。<br>
              ３．本プログラムの仕様・詳細等については、事前予告なく変更する場合があります。<br>
              <br> 
              第１７条　（反社会的勢力の排除）<br>
              １．会員は、以下のいずれかの事項に該当しないことを表明するものとします。<br>
              ａ．暴力団、暴力団員、暴力団関係者、暴力団員でなくなった時から５年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等その他これらに準ずる者（以下、「暴力団等」といいます。）であること<br>
              ｂ．代表者、責任者、または実質的に経営権を有するものが暴力団等であること、または暴力団等への資金提供を行う等密接な関係を有すること<br>
              ２．会員は、以下のいずれかの事項に該当する行為を行わないことを確約するものとします。<br>
              ａ．自らまたは第三者を利用して、他方当事者に対して、自身が暴力団等である旨、または関係者が暴力団等である旨を伝えるなどの行為<br>
              ｂ．自らまたは第三者を利用して、他方当事者に対して、法的な責任を超えた不当な要求行為、詐術、暴力的行為または脅迫的言辞を用いるなどの行為<br>
              ｃ．自らまたは第三者を利用して、他方当事者の名誉や信用等を毀損し、または毀損するおそれがある行為<br>
              ｄ．自らまたは第三者を利用して、他方当事者の業務を妨害する行為、または　妨害するおそれのある行為<br>
              <br> 
              第１８条　（準拠法）<br>
              本規約は、日本法に準拠して解釈されるものとします。<br>
              <br> 
              第１９条　（専属的合意管轄裁判所・準拠法）<br>
              当社と会員の間で本規約に関連して紛争が生じた場合は、当社の本店所在地を管轄する裁判所を第一審の専属的合意管轄裁判所といたします。<br>
              <br> 
              以上<br>
              制定日：2020年●月●日<br>
            </p>          
          </div>
        </div>
      </section>
    </main>
    <footer class="l-footer">
      <?php require_once TEMPLATE_DIR.'footer.php' ?>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../js/common.js"></script>
</body>

</html>