<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>電力シェアリング</title>
  <meta name="description" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="../../css/style.css" rel="stylesheet" media="all">
</head>

<body>
  <header class="l-header">
    <?php require_once TEMPLATE_DIR.'mypage_header.php' ?>
  </header>
  <div class="l-contents__wrap">
    <main class="l-contents">
      <div class="l-breadcrumbs">
        <ol class="l-breadcrumbs__inner">
          <li class="l-breadcrumbs__item">
            <a href="<?php echo h(HOME_URL) ?>">電力シェアリング TOP</a>
          </li>
          <li class="l-breadcrumbs__item">
            <a href="<?php echo h(HOME_URL) ?>mypage/">マイページ TOP</a>
          </li>
          <li class="l-breadcrumbs__item">
            <span>関連リンク</span>
          </li>
        </ol>
      </div>
      <section class="l-contents__section">
        <div class="l-contents__inner">
          <table class="c-table" style="width: 100%; table-layout: fixed;">
            <tr>
              <th>集計期間</th>
              <th>電力消費量<br>(kWh)</th>
							<th>電力消費量<br>累計/日(kWh)</th>
              <th>再エネ価値<br>寄付量(kWh)</th>
            </tr>
<?php foreach ($resTradeDetail as $key => $val) { ?>
                <tr>
                  <td><?php echo h($key) ?></td>
                  <td><?php echo h(number_format($val['execution_amount'])) ?></td>
                  <td><?php echo h(number_format($val['execution_amount_total'] * 0.000406, 3)) ?></td>
                  <td><?php echo h(number_format($val['execution_amount_total'] * 10 * 0.000406, 3)) ?></td>
                </tr>
<?php } ?>
          </table>
<form action="./" method="post" id="trade_setting">
     <div class="trade_btn">
			<input type="text" name="date" value="<?php echo h($date) ?>" style="width:120px; padding:0.8em; text-align:center;"><div class="c-button2"><a href="javascript:$('#trade_setting').submit();">の電力利用量を見る</a></div>
			<div class="c-button2"><a href="./?date=<?php echo rawurlencode(date("Y/m/d", strtotime($date." -1 day"))) ?>&project=<?php echo rawurlencode($project) ?>">前日分を表示</a></div>
			<div class="c-button2"><a href="./?date=<?php echo rawurlencode(date("Y/m/d")) ?>&project=<?php echo rawurlencode($project) ?>">当日分</a></div>
		</div>
<input type="hidden" name="project" value="<?php echo h($project) ?>">
</form>
      </section>
    </main>
    <footer class="l-footer">
      <?php require_once TEMPLATE_DIR.'footer.php' ?>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../../js/common.js"></script>
</body>

</html>