RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.e-kuro\.com [NC]
RewriteRule ^(.*)$ https://e-kuro.com/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

##########################################
# CMS SETTING
##########################################

RewriteEngine on
RewriteRule ^(?!.*(\.|executor)).*$ app/bootstrap.php?%{QUERY_STRING}

RewriteEngine on
RewriteRule ^css/(.*)$ templates/css/$1
RewriteRule ^js/(.*)$ templates/js/$1
RewriteRule ^images/(.*)$ templates/images/$1
RewriteRule ^fonts/(.*)$ templates/fonts/$1
RewriteRule ^s/(.*)$ templates/s/$1

RewriteEngine on
RewriteRule ^templates/(?!.*(css|js|images|fonts|s)).*$ - [F,L]
RewriteRule ^sources/.*$ - [F,L]


# SEOŠÖ˜A
RewriteEngine on
RewriteRule ^googleee09e3459d7422df.html$ googleee09e3459d7422df
RewriteRule ^robots.txt$ templates/robots.txt

